<div  class="d-flex justify-content-center align-items-center mt-5 ">
    <div  class="card align-items-center  " style="width: 30rem;">
        <img [src]="contact.photo" style="width: 80px;"
           height="100px" class="card-img-top" alt="user img">
        <div class="card-body">
            <h5 class="card-title">contact name</h5>
    
            <h5>contact id: {{contact.id}}</h5>
            <h5>mobile:{{contact.mobile}}</h5>
            <h5>email:{{contact.email}}</h5>
            <h5>company:{{contact.company}}</h5>
            <h5>title:{{contact.title}}</h5>
            <h5>group:{{group}}</h5>
        </div>
    
    </div>
</div>
